/****** general styling ******/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
/*   Using Crete Round font for headings, Raleway for text */
/*   font-family: 'Crete Round', serif; */
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: 'Crete Round', serif;
}

h1 {
  font-size: 24px;
  padding-top: 5px;
}

h2 {
  padding: 5px;
  word-wrap: break-word;
  }

#wrapper {
  position: relative;
  background-color: #b3ccff;
  width: 100%;
}

/****** header styling ******/

#header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 360px;
  min-height: 70px;
  padding: 10px 20px;
}

#header-img {
  width: 32px;
  vertical-align: top;
  margin: 5px 10px 10px 20px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  box-shadow: 4px 4px #b3ccff;
}
#slogan {
    display: inline-block;
}

#slogan p {
  font-size: .75em;
  font-style: italic;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 20px;
}

#nav-bar li {
  display: block;
  width: 100%;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background: #b3ccff;
  color: black;
}

#nav-bar li:hover {
  color: white;
  background-color: navy;
  transition: background-color 1s;
}

/****** Intro and CTA ******/

#bg-wrap {
  background: no-repeat url("https://photos.smugmug.com/Web-Dev/Portfolio-Site/i-xk9kkRk/0/7c580d19/X2/iPAdImv-X2.jpg");
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 220px;
  margin-bottom: 80px;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}

#intro h2 {
  margin: 50px 0px 20px;
}


#intro p {
  font-size: 1.25em;
  text-shadow: 2px 2px 4px white;
}

#cta {
  margin-top: 20px;
}

#intro label {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: white;
}

#email {
  display: block;
  width: 100%;
  max-width: 280px;
  margin: 10px auto;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

#submit {
  width: 100%;
  max-width: 150px;
  margin: 15px 0;
  border: 0;
  border-radius: 5px;
}

#submit:hover {
  background-color: navy;
  transition: background-color 1s;
}

/****** features ******/

#features::before {
  display: block;
  content: " ";
  margin-top: -207px;
  height: 217px;
  visibility: hidden;
  pointer-events: none;
}

#features h3 {
  text-shadow: 1px 1px black;
}
.feature-wrap {
  display: flex;
  justify-content: center;
}

.feature-icon {
  display: none;
  justify-content: center;
  height: 100px;
  width: 20vw;
  color: navy;
}

.feature-blurb {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100px;
  color: white;
  text-align: center;
}

/****** Video Section ******/

#vid-section {
  min-height: 50vh;
}

#vid-section::before {
  display: block;
  content: " ";
  margin-top: -207px;
  height: 207px;
  visibility: hidden;
  pointer-events: none;
}

#vid-section p {
  margin: 20px 0px;
  text-align: center;
  font-size: 1.25em;
}

#div-video {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#div-video iframe {
  width: 100%;
  max-width: 90%;
}

/****** Pricing Section ******/

#pricing-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  padding-bottom: 50px;
}

#pricing::before {
  display: block;
  content: " ";
  margin-top: -207px;
  height: 217px;
  visibility: hidden;
  pointer-events: none;
}

.price-option {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  margin: 0 auto 15px auto;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #404040;
}

.price-option ul {
  list-style-position: inside;
}

.price-title {
  width: 100%;
  padding: 8px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  font-weight: bold;
}

.button,
input[type="submit"] {
  padding: 10px;
  margin: 30px 10px 10px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: blue;
}

.button:hover {
  background-color: navy;
  transition: background-color 1s;
}

/****** footer ******/
footer {
  background-color: #f2f2f2;
}

#footer-list {
  display: block;
  float: right;
  list-style: none;
}

.footer-link {
  float: left;
  padding: 10px;
}

#copyright {
  float: right;
  clear: both;
}

/****** Media Queries ******/
@media screen and (min-width: 460px) {
  h1 {
    font-size: 30px;
  }

  #header-img {
    width: 50px;
  }

  #nav-bar {
    flex-direction: row;
    justify-content: space-around;
  }

  #nav-bar li {
    display: inline-block;
    width: 80px;
  }

  #intro {
    margin-top: 130px;
  }

  #features::before {
    display: block;
    content: " ";
    margin-top: -132px;
    height: 142px;
    visibility: hidden;
    pointer-events: none;
  }

  #vid-section::before {
    display: block;
    content: " ";
    margin-top: -132px;
    height: 132px;
    visibility: hidden;
    pointer-events: none;
  }

  #pricing::before {
    display: block;
    content: " ";
    margin-top: -132px;
    height: 142px;
    visibility: hidden;
    pointer-events: none;
  }
}  /* end min-width 460 */

@media screen and (min-width: 650px) {
  #nav-bar {
    display: flex-inline;
    flex-direction: column;
    float: right;
    margin-right: 30px;
  }

  #wrapper {
    margin-top: 100px;
  }

  #intro {
    margin-top: 120px;
  }

  #div-video iframe {
    max-width: 500px;
  }

  .feature-icon {
    display: flex;
    color: white;
    text-shadow: 1px 1px black;
  }

  .feature-blurb {
    width: 80vw;
    text-align: left;
    justify-content: left;
  }
}   /* end min-width 650 */

@media screen and (min-width: 800px) {
  #intro {
    margin-top: 70px;
  }

  #cta {
    margin-top: 100px;
  }

}   /* end min-width 800 */

@media screen and (min-width: 864px) {
  #features::before {
    display: block;
    content: " ";
    margin-top: -94px;
    height: 104px;
    visibility: hidden;
    pointer-events: none;
  }

  #vid-section::before {
    display: block;
    content: " ";
    margin-top: -94px;
    height: 94px;
    visibility: hidden;
    pointer-events: none;
  }

  #pricing::before {
    display: block;
    content: " ";
    margin-top: -94px;
    height: 94px;
    visibility: hidden;
    pointer-events: none;
  }
}   /* end min-width 864 */
